@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/* Define your theme variables */
@theme {
  --color-black: rgb(17, 17, 17);
  --color-white: rgb(223, 223, 223);
  --color-blue: rgb(74, 92, 211);
  --color-light-black: rgb(35, 35, 35);
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

@layer utilities {
  .underline-hover {
    @apply relative text-white font-medium cursor-pointer after:content-[''] after:block after:w-0 after:h-[2px] after:bg-blue-500 after:transition-all after:duration-500 hover:after:w-full;
  }

  .btn{
    @apply border border-white py-[5px] px-[18px] rounded-[20px] font-bold bg-black hover:bg-white hover:text-black cursor-pointer transition duration-300 ease-in-out
  }

  .box {
    @apply flex items-center cursor-pointer justify-center border border-gray-800 hover:bg-gray-900 p-4 text-center hover:scale-102 hover:shadow-lg transition-all duration-300 m-2 rounded-2xl;
  }

  .box_grid{
    @apply pt-[65px] bg-black w-full min-h-screen text-white grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-6;
  }

  .option {
    @apply border w-[380px] rounded-2xl p-2 text-center hover:bg-blue hover:text-white cursor-pointer;
  }

  .true {
    @apply text-2xl text-green-400 font-bold;
  }

  .false {
    @apply text-2xl text-red-400 font-bold;
  }

  .zoom-in-out-element {
    animation: zoom-in-zoom-out .5s ease infinite;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    scale: 100%;
  }

  50% {
    scale: 150%;
  }

  100% {
    scale: 100%;
  }
}
/* Apply to whole website */
html, body {
  scrollbar-width: thin;          /* For Firefox */
  scrollbar-color: #888 #f0f0f0;  /* thumb color, track color for Firefox */
}

/* Webkit Browsers: Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 6px;   /* thinner */
  height: 6px;  /* horizontal scrollbar */
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f0f0f0;  /* optional padding effect */
}

html::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

